/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Lato', sans-serif;
    background: #fafafa;
}


/*
p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}*/

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    margin: 40px 0;
}

.collapse {
    display: block !important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgba(0, 0, 0, 0.95);
    color: #fff;
    transition: all 0.3s;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: inherit;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(0, 0, 0, 0.95);
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: white;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #0b1540;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #212c5a;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    background: #f3f3f3;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content p a {
    color: black;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (min-height: 400px) {
    #tab-usuario {
        padding: 0px;
    }
}

.collapse .nav #sair {
    float: right;
    right: 0;
    font-size: 13pt;
}

h3 {
    text-align: center;
    font-size: 1.6em;
}

button {
    cursor: pointer;
}

fieldset {
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f6f6f6;
}

textarea {
    width: 100%;
    border-radius: 5px;
}

#content #bem-vindo {
    text-align: center;
    font-size: 15pt;
    color: #0e62ad;
}

#tab-cadastro-msg,
#tab-visualiza-msg,
#tab-perfil,
#tab-usuario,
#tab-usuario-admin {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#tab-cadastro-msg p,
#tab-visualiza-msg p,
#tab-perfil p {
    text-align: center;
}

#tab-cadastro-msg div .container {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

#tab-cadastro-msg div .container {
    max-width: 100%;
}

.navbar-header {
    position: absolute;
}

.sidebar-header img {
    margin-left: 30%;
}

.about {
    word-wrap: break-word;
    max-width: 350px;
}

.fa.fa-sign-in {
    color: red;
}

.text-p {
    text-align: center;
    font-size: 1.3em;
    color: black;
    font-weight: bolder;
    /* padding-top: 15px; */
}

.about p {
    text-align: left !important;
}

#align-text p {
    text-align: left !important;
}

#align-text {
    background: #f1f1f1 !important;
    font-weight: bolder;
    font-size: 0.9em;
}

.align-div {
    text-align: left !important;
}

.button-modal {
    font-size: 1.2em;
}